<!DOCTYPE html>
<html>
<head>
    <title>Port Scanner Equinix Vulnerabilidade</title>
</head>
<body>
    <h2>Port Scanner Equinix Vulnerabilidade</h2>
    <form action="/scan" method="post">
        <label for="ip_range">IP Range:</label>
        <input type="text" id="ip_range" name="ip_range"><br><br>
        <!-- Remova o campo para inserir o range de portas -->
        <input type="submit" value="Scan Ports">
    </form>
    <div id="scan_results">
        <!-- Results will be displayed here -->
        <ul>
            {% for result in results %}
                <li>{{ result }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
